<!DOCTYPE html> <!-- 문서 형식 선언 -->
<html lang="ko"> <!-- 문서 시작 -->
<head> <!-- 문서의 메타데이터를 포함하는 곳 -->
    <meta charset="UTF-8"> <!-- 문서의 문자 인코딩 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 뷰포트 설정 -->
    <title>리지혜임니당</title> <!-- 문서 제목 -->
    <link rel="stylesheet" href="/css/jihye/style5.css">
</head>
<body> <!-- 문서의 본문을 포함하는 곳 -->
<!-- 문서 내용 작성 -->
<h1>
    Hello World
</h1>

<div>
    <ul class="title">
        <li><a href="/mirae/user/jihye/1"class="me"> ME</a></li>
        <li><a href="/mirae/user/jihye/2"class="study"> STUDY </a></li>
        <li><a href="/mirae/user/jihye/3"class="mbti"> MBTI </a></li>
        <li><a href="/mirae/user/jihye/4"class="game"> GAME </a></li>
        <li><a href="/mirae/user/jihye/5"class="sns"> SNS </a></li>
    </ul>
</div>

<div class="StudyContent">
    <div class="image">
        <img src="/img/jihye/안녕배경.png">
    </div>
    <div class="Contents">
        <ul class="content">
            <li> Github : easysun10</li>
            <li>Instargram : j_ii.210</li>
            <li>Discord : 삐약 삐약 병아리#5355</li>
            <li>Email : 2jihye10@gmail.com</li>
            <li>친하게 지냇으면 조캣어요. </li>
        </ul>
    </div>
</div>
</body>
</html>