<!DOCTYPE html> <!-- 문서 형식 선언 -->
<html lang="ko"> <!-- 문서 시작 -->
<head> <!-- 문서의 메타데이터를 포함하는 곳 -->
  <meta charset="UTF-8"> <!-- 문서의 문자 인코딩 설정 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 뷰포트 설정 -->
  <title>리지혜임니당</title> <!-- 문서 제목 -->
  <link rel="stylesheet" href="/css/jihye/style1.css">
</head>
<body> <!-- 문서의 본문을 포함하는 곳 -->
<!-- 문서 내용 작성 -->
<h1>
  Hello World
</h1>

<div>
  <ul class="title">
    <li><a href="/mirae/user/jihye/1"class="me"> ME</a></li>
    <li><a href="/mirae/user/jihye/2"class="study"> STUDY </a></li>
    <li><a href="/mirae/user/jihye/3"class="mbti"> MBTI </a></li>
    <li><a href="/mirae/user/jihye/4"class="game"> GAME </a></li>
    <li><a href="/mirae/user/jihye/5"class="sns"> SNS </a></li>
  </ul>
</div>

<div class="StudyContent">
  <div class="image">
    <img src="/img/jihye/안녕배경.png">
  </div>
  <div class="Contents">
    <ul class="content">
      <li> 안녕하세요. </li>
      <li> 제 이름은 이지혜입니다. </li>
      <li> 꿈은 없구요.. 간지나서 컴공 왔어요 ㅎㅎ</li>
      <li> 나이는 04년생 20살이에요!</li>
      <li> 아 그리고 스타벅스 슈크림 라떼 진짜 맛있어요 꼭 드셔주세요</li>
    </ul>
  </div>
</div>
</body>
</html>