<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>미래씨 MIRAESEE</title>


    <!-- Personal CSS -->
    <link href="/css/index.css" type="text/css" rel="stylesheet">

    <!-- Personal JavaScript -->
    <script src="/js/trackker.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<div class="index_header">
    <h1>미래씨 MIRAESEE</h1>
    <div class="track">
        <span class="track_item">MIRAESEE</span>
    </div>
</div>
<div class="container">
    <div class="index_body container">
        <div class="team_group">
            <a class="team_info" href="/mirae/user/chanwoo">
                <img src="/img/index/team1.png" />
                <span>김찬우</span>
            </a>
            <a class="team_info" href="/mirae/user/yoonsoo">
                <img src="/img/index/team2.png" />
                <span>한윤수</span>
            </a>
            <a class="team_info" href="/mirae/user/yong_hyun">
                <img src="/img/index/team3.png" />
                <span>이용현</span>
            </a>
            <a class="team_info" href="/mirae/user/jihye/1">
                <img src="/img/index/team4.png" />
                <span>이지혜</span>
            </a>
        </div>
        <div class="team_description">
            <span>미래씨는 미래를 도모하는 씨앗이라는 뜻으로</span>
            <span>큰 새싹을 피우게 될 팀이라는 뜻입니다.</span>
        </div>
        <div class="wrap_code"><button class="button" id="code_button" onclick="showCode()">재미로 보는 운명의 짝 찾기</button>
            <div id="code"></div>
        </div>
    </div>
</div>


    {{#login}}
        <div class="index_footer">
            <span class="login_description">개인 페이지를 보려면 로그인이 필요합니다.</span>
            <a class="button" href="/mirae/loginForm">로그인</a>
            <a class="button" href="/mirae/joinForm">회원가입</a>
        </div>
    {{/login}}
{{^login}}
<div class="index_footer">
    <a class="button" href="/login/logout">로그아웃</a>
</div>
        {{/login}}
<script type="application/javascript">
    initTrack(`<span class="track_item">MIRAESEE</span>`, 82.9167)
</script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>
