<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>미래씨 MIRAESEE</title>

    {{>layout/bootstrap.mustache}}
</head>
<body>
    <div>
        <h1>미래씨 MIRAESEE</h1>
        <div>
            <span>MIRAESEE</span>
        </div>
    </div>
    <div>

    </div>
</body>
</html>