<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>한윤수 자기소개 페이지</title>
  <link rel="stylesheet" href="/css/yoonsoo/init.css" />
  <link rel="stylesheet" href="/css/yoonsoo/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
</head>
<body>
<main id = "app">
  <section class = "item">
    <header id = "header">
      <nav>
        <!-- <span><img src ="img/likelion-removebg-preview.png"/></span> -->
        <ul class = "nav-list">
          <li class = "li-list"><a href = "#aboutMe" class = "list-link">AboutMe</a></li>
          <li class = "li-list"><a href = "#skills" class = "list-link">Skills</a></li>
          <li class = "li-list"><a href = "#project" class = "list-link">Project</a></li>
          <li class = "li-list"><a href = "#contact" class = "list-link">Information</a></li>
        </ul>
      </nav>
      <div class = "bar-bg">
        <span class = "bar-ing"></span>
      </div>
    </header>
    <div class = "cont-start">
      <a name = "info"></a>
      <div class = "cont-profile">
        <div class = "cont_text">
          <span class = "mainText">안녕하세요!</span>
          <span class = "effectText">
                          백엔드 개발자를 꿈꾸는!
                        </span>
          <span class = "mainText">한윤수 입니다!</span>
        </div>
        <div class = "box">
          <img class = "profile" src = "/img/yoonsoo/me4.jpeg"/>
        </div>
      </div>
    </div>
  </section>

  <section class = "section-about item">
    <a name = "aboutMe"></a>
    <h2>About Me.</h2>
    <div class="cont-about">
      <div class="slide-container">
        <div class="slide-album">
          <div class="slide-images">
            <img src="/img/yoonsoo/meMac.png" alt="내 사진" />
            <img src="/img/yoonsoo/ENTJ.png" alt="내 사진" />
            <img src="/img/yoonsoo/me3.jpeg" alt="내 사진" />
          </div>
          <button class="btn-next">▶</button>
          <button class="btn-prev">◀</button>
        </div>
      </div>
      <div class="info-about">
        <dl class="txt-about">
          <div>
            <dt>이름:</dt>
            <dd>한윤수</dd>
          </div>
          <div>
            <dt>생년원일:</dt>
            <dd>00.09.23</dd>
          </div>
          <div>
            <dt>전공:</dt>
            <dd>컴퓨터공학과 3학년</dd>
          </div>
          <div>
            <dt>MBTI:</dt>
            <dd>ENTJ</dd>
          </div>
          <div>
            <dt>개인 목표:</dt>
            <dd>백엔드 개발자와 창업에 관심이 있습니다!</dd>
          </div>
          <div>
            <dt>멋사 목표:</dt>
            <dd>멋사에서 멋진 프로젝트 하고 싶습니다!</dd>
          </div>
        </dl>
        <div class="btn-about">
          <button class="btn-open" type="button">
            <img src="/img/yoonsoo/tiny-icons_real_estate_1_estate-agent-51-icon-balsa.svg" alt="" />취미
          </button>
          <button class="btn-open" type="button">
            <img src="/img/yoonsoo/smashicons_festive_season_christmas-horse-toy-icon-45-yellow.svg" alt="" />성격
          </button>
        </div>
      </div>
    </div>
    </div>
  </section>
  <secion class = "section-skills item">
    <a name = "skills"></a>
    <h2>Skills.</h2>
    <br>
    <p style="text-align: center; font-size: 30px; font-family: Dovemayo_gothic; color: gray">사용 가능 기술 (버튼 클릭!)</p>
    <div class = "cont-skills">

      <button class="btn-open-skills" type="button">
        <img src="/img/yoonsoo/java.png" alt="" />Java
      </button>
      <button class="btn-open-skills" type="button">
        <img src="/img/yoonsoo/mysql.png" alt="" />MySQL
      </button>
      <button class="btn-open-skills" type="button">
        <img src="/img/yoonsoo/python.png" alt="" />Python
      </button>
      <button class="btn-open-skills" type="button">
        <img src="/img/yoonsoo/spring-icon.svg" alt="" />Spring
      </button>
    </div>
  </secion>

  <section class="section-project item">
    <a name="project"></a>
    <h2>Project.</h2>
    <article class="box-project">
      <div class = "box-project-left">
        <img class="img-project" src="/img/yoonsoo/personalReport.jpeg" alt="퍼스널 리포트"/>
        <button class="btn-detail" type="button" onclick="location.href='https://www.youtube.com/embed/DVNnoUi5tuI';">
          홍보 영상 보기
        </button>
      </div>
      <div class="txt-project">
        <h3>퍼스널 리포트</h3>
        <dl>
          <dt>기간</dt>
          <dd>2022.01 ~ 2022.04</dd>
          <dt>설명</dt>
          <dd>개인용 맞춤 보고서를 제작 및 전송해주는 서비스 입니다.<br>
            혼자서 기획, 개발, 배포의 전 과정을 진행한 프로젝트입니다.<br><br>
            사용자가 본인의 토픽을 사이트에 저장한 뒤<br>
            발송시간과 발송주기를 선택하면<br><br>
            관련 정보를 모아 개인만의 보고서 사이트를 만들어<br>
            카카오톡 알림톡으로 보내주는 서비스입니다.
          </dd>
          <dt>사용 기술</dt>
          <dd>PHP, MySQL, Python, JS</dd>
        </dl>
      </div>
    </article>

    <article class="box-project item">
      <div class = "box-project-left">
        <img class="img-project" src="/img/yoonsoo/bank.jpeg" alt="두번째 프로젝트 이미지"/>
        <button class="btn-detail" type="button" onclick="location.href='https://github.com/HanYoonSoo/bank-membership';">
          깃허브 보기
        </button>
      </div>
      <div class="txt-project">
        <h3>우리은행앱 백엔드 구현</h3>
        <dl>
          <dt>기간</dt>
          <dd>2022.02 ~ (현재)</dd>
          <dt>설명</dt>
          <dd>우리은행앱에서 동작할 다양한 백엔드 기능을 구현하는 것이 목표입니다.<br><br>

            UseFlow, ERD 설계, API EndPoint 설계를 진행하였습니다.<br><br>

            단순한 기능 구현이 목표가 아닌 좀 더 효율적인 코드 구성이 목표입니다.
          </dd>
          <dt>사용 기술</dt>
          <dd>Spring, MariaDB, Docker, Redis(예정),AWS(예정)<br>
            LucidChart 사이트(각종 설계(UseFlow, ERD, MSA 등))</dd>
        </dl>
      </div>
    </article>
  </section>

  <footer class = "item" id="footer">
    <a name="contact"></a>
    <div class="box-footer">
      <h2>More Information.</h2>
      <ul class="link-sns">
        <li>
          <a href="https://github.com/HanYoonSoo">
            <img class="img-github" src="/img/yoonsoo/icon-github.png" alt="깃허브 주소"/>
            github
          </a>
        </li>
        <li>
          <a href="https://bead-carpenter-40d.notion.site/1a69825ccda34183ad113fdb8a74939d">
            <img class="img-notion" src="/img/yoonsoo/Notion.png" alt="노션 주소"/>
            Notion
          </a>
        </li>
      </ul>
      <p>TEL : 010-4144-3055</p>
    </div>
  </footer>
  <div class="modal-background">
    <div class="modal">
      <h3>취미</h3>
      <h4>게임하기</h4>
      <img src="/img/yoonsoo/game.jpeg" alt="게임 관련 이미지" />
      <p>
        취미는 게임입니다!(이모티콘)
        <br><br>
        RPG게임은 좋아하지 않고 한 판에 끝나는 <br>게임들을 좋아합니다!
        <br><br>
        EX) 롤, 서든 등✍🏻
      </p>

      <br>
      <hr>
      <br>

      <h4>영상 시청</h4>
      <img src="/img/yoonsoo/watch.jpeg" alt="영상 관련 이미지" />
      <p>
        취미는 영상 시청입니다!😙 주로 유튜브를 많이 봅니다!
        <br><br>
        코딩, 게임, 브이로그등 다양하게 보는 것 같습니다!
        <br><br>
        넷플릭스에 나오는 여러 드라마, 영화를 시청하는 것을 좋아합니다!
        <br><br>
        자주 보는 장르는 액션인 것 같습니다!
      </p>

      <button type="button" class="btn-close">Close</button>
    </div>
  </div>

  <div class="modal-background">
    <div class="modal">
      <h3>성격</h3>
      <h4>MBTI가 ENTJ입니다!</h4>
      <img src="/img/yoonsoo/personality.jpeg" alt="성격관련 이미지" />
      <p>
        몇 번을 검사해도 ENTJ입니다.
        <br><br>
        E - 제가 왜 E인지는 잘 모르겠으나 매번 E로 나오더군요..
        <br>
        <br>
        N - 새로운 아이디어나 생각하거나 새롭게 도전하는 것을 좋아해서 그런 것 같습니다!
        <br>
        <br>
        T - 저라는 사람이 감정적이진 않은 것 같습니다. ㅜㅜ
        <br>
        <br>
        J - 따로 계획서를 쓰진 않지만 항상 계획하고 항상 분, 시 단위로 계획을 하면서 사는 것 같습니다.
      </p>
      <br>
      <hr>
      <br>

      <h4>걱정이 많습니다!</h4>
      <img src="/img/yoonsoo/headache.jpeg" alt="걱정관련 이미지" />
      <p>
        쓸데없는 걱정이 굉장히 많은 편인 것 같습니다.
        <br><br>
        그래서 요즘은 "문제 없겠지"라는 생각을 갖고 살려고 노력중입니다.
        <br><br>
        하지만, 그래도 이런 단점덕에 꼼꼼하고 책임감있게 여러 일들을 하는 편인 것 같습니다.
      </p>

      <button type="button" class="btn-close">Close</button>
    </div>
  </div>

  <div class="modal-background-skills">
    <div class="modal-skills">
      <h3>스킬</h3>
      <h4>자바</h4>
      <img src="/img/yoonsoo/java.jpeg" alt="자바 관련 이미지" />
      <p>
        원래 자바 언어에 대한 관심도 많았고<br>
        자바 수업 조교를 하며
        <br><br>
        좀 더 자바에 대한 지식이 탄탄해진 것 같습니다.
        <br><br>
        또한, 현재 공부중인 Spring에서도 자바를 사용합니다.
      </p>
      <button type="button" class="btn-close-skills">Close</button>
    </div>
  </div>

  <div class="modal-background-skills">
    <div class="modal-skills">
      <h3>스킬</h3>
      <h4>MySQL</h4>
      <img src="/img/yoonsoo/mysql-banner.jpeg" alt="MySQL 관련 이미지" />
      <p>
        프로그래머스 DB문제를 MySQL로 LEVEL4까지 풀어보았습니다.
        <br><br>
        퍼스널 리포트에서도 사용하기도 하였으며 많은 강의를 보았습니다.
      </p>
      <button type="button" class="btn-close-skills">Close</button>
    </div>
  </div>

  <div class="modal-background-skills">
    <div class="modal-skills">
      <h3>스킬</h3>
      <h4>Python</h4>
      <img src="/img/yoonsoo/python.jpeg" alt="Python 관련 이미지" />
      <p>
        알고리즘 문제 대부분을 Python으로 풀었습니다.<br><br>
        퍼스널 리포트 제작 당시 Python을 이용하여<br>
        이용자가 선택한 토픽 정보들을 수집했습니다.
      </p>
      <button type="button" class="btn-close-skills">Close</button>
    </div>
  </div>

  <div class="modal-background-skills">
    <div class="modal-skills">
      <h3>스킬</h3>
      <h4>Spring</h4>
      <img src="/img/yoonsoo/spring-banner.png" alt="Spring 관련 이미지" />
      <p>
        Spring, SpringBoot의 기본적인 개념<br><br>
        Spring JPA, Spring Security을 공부<br><br>
        Spring을 이용한 여러 API 사용 경험이 있습니다.<br><br>
        하지만 Spring은 워낙 공부해야 할 것이 많아<br>
        아직 많이 부족합니다..
      </p>
      <button type="button" class="btn-close-skills">Close</button>
    </div>
  </div>
  <button onclick="moveToTop()" class="btn-moveTop"></button>
  <script src="/js/yoonsoo/index.js"></script>
  <script src="https://github.com/davatron5000/Lettering.js/"></script>
</main>
</body>
</html>