<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>건유1019</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal CSS -->
    <link href="/static/css/yong_hyun.css" type="text/css" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <script src="https://kit.fontawesome.com/afc467762e.js" crossorigin="anonymous"></script>

    <!-- Personal Javascript -->
    <script src="/static/javascript/autoscroll.js"></script>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<section id="main" class="main_section">
    <div class="main_group">
            <span class="main_title">
                오늘도 <span class="main_title_emphasis">즐코</span>하세요!
            </span>

        <div class="commit_rank_group">
            <span class="commit_rank_description">저는 멤버분들이 열심히 즐코시는지 구경하고 있습니다.</span>
            <!-- Rank Sample (🥇🥈🥉) -->
            <div class="commit_rank_content">
                <div class="commit_rank_text">
                    <div id="spinnerIndicator"></div>
                    <span>Loading</span>
                </div> <!--
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129351;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129352;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129353;)</span>
                    </div>
                    <hr class="hr hr-blurry" />
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</section>
<section id="introduce" class="introduce_section">
    <div class="container introduce_group">
        <div>
            <h2>👋 짜란?<br/> 저는 컴퓨터공학과 23학번 이용현이라고 합니다!</h2><br/>
            <span>저는 프로그래밍을 <u>하나의 여행</u>이라고 생각합니다.</span><br/>
            <span>많은 지역을 탐험하며, 많은 경험을 쌓아나가는 것 처럼 저는 <u>다양한 종류의 프로그래밍</u>을 진행해보고 싶습니다.</span><br/><br/>

            <span>아직 구체적인 개발 분야를 정하진 않았지만, 다양한 분야의 프로그래밍을 진행해보고 싶습니다.</span>
            <span>저는 취미로 프로그래밍을 하고 있으며, 창업을 해보고 싶다는 생각을 가지고 있습니다.</span>
            <span>다른 팀원들보다 프로그래밍 실력이 부족할 수 있지만, 최선을 다해 프로젝트에 임하도록 하곘습니다!</span>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/16767890?v=4"/>
        </div>
    </div>
</section>
<section id="programing" class="programing_section">
    <div class="programing_group">
        <h2>프로그래밍의 폭풍은 정말 최고야!~</h2>
        <span>코딩의 폭풍은 정말 최고야! 지금도 다양한 프로그래밍을 경험해보고 싶어요.</span>
        <div class="image_group">
            <a href="https://python.org">
                <img src="/static/img/icon/python.png" class="background"/>
            </a>
            <a href="https://docs.aiohttp.org/">
                <img src="/static/img/icon/aiohttp.svg" class="background"/>
            </a>
            <a href="https://discordpy.readthedocs.io/en/stable/">
                <img src="/static/img/icon/discordpy.png"/>
            </a>
            <a href="https://flask.palletsprojects.com/en/2.2.x/">
                <img src="/static/img/icon/flask.png" class="background"/>
            </a>
            <a href="https://matplotlib.org/">
                <img src="/static/img/icon/matplotlib.png" class="background"/>
            </a>
            <a href="https://pandas.pydata.org/">
                <img src="/static/img/icon/pandas.svg" style="background: #130754; padding: 10px"/>
            </a>
            <a href="https://pillow.readthedocs.io/en/stable/">
                <img src="/static/img/icon/pillow.png" class="background"/>
            </a>
            <a href="https://www.sqlalchemy.org/">
                <img src="/static/img/icon/sqlalchemy.png" class="background"/>
            </a>
            <a href="https://kotlinlang.org/">
                <img src="/static/img/icon/kotlin.png"/>
            </a>
            <a href="https://developer.android.com/jetpack/compose">
                <img src="/static/img/icon/jetpack-compose.png" class="background"/>
            </a>
            <a href="https://papermc.io/">
                <img src="/static/img/icon/paper.webp" class="background"/>
            </a>
            <a class="https://www.typescriptlang.org/">
                <img src="/static/img/icon/typescript.svg"/>
            </a>
            <a href="https://premid.app/">
                <img src="/static/img/icon/premid.jpeg"/>
            </a>
            <a href="https://mariadb.org/">
                <img src="/static/img/icon/mariadb.png" class="background"/>
            </a>
            <a href="https://python.org">
                <img src="/static/img/icon/python.png" class="background"/>
            </a>
            <a href="https://docs.aiohttp.org/">
                <img src="/static/img/icon/aiohttp.svg" class="background"/>
            </a>
            <a href="https://discordpy.readthedocs.io/en/stable/">
                <img src="/static/img/icon/discordpy.png"/>
            </a>
            <a href="https://flask.palletsprojects.com/en/2.2.x/">
                <img src="/static/img/icon/flask.png" class="background"/>
            </a>
            <a href="https://matplotlib.org/">
                <img src="/static/img/icon/matplotlib.png" class="background"/>
            </a>
            <a href="https://pandas.pydata.org/">
                <img src="/static/img/icon/pandas.svg" style="background: #130754; padding: 10px"/>
            </a>
            <a href="https://pillow.readthedocs.io/en/stable/">
                <img src="/static/img/icon/pillow.png" class="background"/>
            </a>
            <a href="https://www.sqlalchemy.org/">
                <img src="/static/img/icon/sqlalchemy.png" class="background"/>
            </a>
            <a href="https://kotlinlang.org/">
                <img src="/static/img/icon/kotlin.png"/>
            </a>
            <a href="https://developer.android.com/jetpack/compose">
                <img src="/static/img/icon/jetpack-compose.png" class="background"/>
            </a>
            <a href="https://papermc.io/">
                <img src="/static/img/icon/paper.webp" class="background"/>
            </a>
            <a class="https://www.typescriptlang.org/">
                <img src="/static/img/icon/typescript.svg"/>
            </a>
            <a href="https://premid.app/">
                <img src="/static/img/icon/premid.jpeg"/>
            </a>
            <a href="https://mariadb.org/">
                <img src="/static/img/icon/mariadb.png" class="background"/>
            </a>
        </div>
        <div class="container group_field">
            <div class="item_field">
                <h3><i class="fab fa-android"></i> 안드로이드 애플리케이션</h3>
                <span>2022년부터 안드로이드 프로젝트를 진행하고 있습니다.</span>
                <span>주로 Kotlin과 Jetpack Compose를 애플리케이션을 제작합니다.</span>
                <span>2021년에 개발한 QRpass을 시작으로 MyBUS에 이르기까지 계속 개발하고 공부하고 있습니다.</span>

                <h5>대표작품</h5>
                <ul>
                    <li>
                        <a href="https://github.com/gunyu1019/QRpass">
                            <img src="https://lh3.googleusercontent.com/DXs6fNCc2n500wE25-09LGr6kZZpbEvLkBIP_jQhT175T2ftLba6qri8VKiurgw0IEk" />QRpass
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gunyu1019/trafficApplication">
                            <img src="https://lh3.googleusercontent.com/zyEd74VJGU4Ubd9fkuSZTgTQKOE91bZRADgba2wY62FjCKFtaVdPtEr88j1jmJlpqQ" />MyBUS
                        </a>
                    </li>
                    <li>MyMetro (개발 예정)</li>
                    <li>강원대학교 도서관 위젯 애플리케이션 (개발 중)</li>
                </ul>
            </div>
            <div class="item_field">
                <h3><i class="fab fa-discord"></i> 디스코드 봇</h3>
                <span>디스코드 봇은 2020년부터 개발하기 시작하였습니다.</span>
                <span>처음에는 Python 3.8과 discord.py를 활용하여 개발을 진행했으며,
                    지금은 Python 3.11과 discord.py 그리고 직접 제작한 프레임워크를 사용하여 개발합니다.</span>
                <span>지금은 PUBG BOT과 다양한 봇들을 운영하고 있으며, 이 중 PUBG BOT은 배틀그라운드 공식 커뮤니티에서 채택되어 사용되고 있습니다.</span>
                <span>디스코드 봇은 2020년부터 개발을 시작하였지만, 이전에도 2017년부터 2019년까지 카카오톡 챗봇을 개발해본 경험이 있습니다</span>

                <h5>대표작품</h5>
                <ul>
                    <li>
                        <a href="https://yhs.kr/YBOT/">
                            <img src="https://yhs.kr/YBOT/static/img/YBOT.png"/>YBOT
                        </a>
                    </li>
                    <li>
                        <a href="https://pubg.yhs.kr/">
                            <img src="https://pubg.yhs.kr/static/image/logo.png"/>PUBG BOT
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gunyu1019/CraftBot">
                            Craft Bot
                        </a>
                    </li>
                    <li>강원대학교 재학생인증 봇</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="activities">
    <div class="container activities_group">
        <h2>저는 코딩만 하지 않아요~</h2>
        <span>저는 코딩 이외에도 다양한 활동을 좋아합니다.</span>
        <!--
        <div>
            <div>
                <h4>집 밖이 최고야!</h4>
                <span>저는 시간과 몸, 돈만 된다면 밖에서 활동하는 것을 상당히 좋아합니다.</span>
                <span>국내외 다양한 여행지를 돌아다니며 많은 것들을 경험해보고, 보고 싶습니다.</span>
                <span>혼자서 여행, 가족끼리 여행, 친구끼리 여행가는 것 모두 다 좋아합니다.</span>
                <span>저는 앞으로 있을 인생에서 라스베이거스의 CES도 참여해보고 싶고,</span>
                <span>혼자서 일본 여행도 가보고 싶다는 로망과 함께 열심히 살고자 합니다.</span>
            </div>
            <div>
                <h4>맛으로 사는 중..</h4>
                <span></span>
                이탈리아 젤라또(Gelato)
                <div>
                    <h5>먹어보고 싶은 음식</h5>
                    <ul>
                        <li>미국 디트로이드 피자</li>
                        <li>미국 텍사스 바베큐</li>
                        <li>일본 미즈사와 우동</li>
                        <li>터키 카이막</li>
                        <li>영국 카레</li>
                    </ul>
                </div>
            </div>
                <h4>가끔은 게임으로 머리를 쿨링해줘야 합니다!</h4>
                <span></span>
                이탈리아 젤라또(Gelato)
                <div>
                    <h5>좋아하는 게임</h5>
                    <ul>
                        <li>51 Worldwide Games</li>
                        <li>A Dance Fire and Ice</li>
                        <li>Cities: Skylines</li>
                        <li>Factorio</li>
                        <li>Rainbow Six:Siege</li>
                        <li>Satisfactory</li>
                        <li>Spider-Man 시리즈</li>
                        <li>Splatoon 3</li>
                        <li>Valorant</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>
</section>
<script type="application/javascript">
    $("span.main_title_emphasis, div.firework").hover(function () {
        $("div.firework").show();
    }, function () {
        $("div.firework").hide();
    })
    fetch('/mirae/api/commit_rank').then(function (response) {
        // console.log('success!', response);
        response.json().then(function (data) {
            if (data.length > 0) {
                const sortedData = data.sort((a, b) => {
                    if (a['commits'] > b['commits']) {
                        return -1;
                    }
                });
                document.querySelector('div.commit_rank_content').innerHTML = ""
                sortedData.slice(0, 3).forEach((githubUser, index) => {
                    document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${githubUser['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${githubUser['login']}">${githubUser['username']}</a>
                    <span class="github_commits">${githubUser['commits']}</span>
                    <span class="github_rank">(&#12935${index + 1};)</span>
                </div>`
                });
                document.querySelector('div.commit_rank_content').innerHTML += `<hr class="hr hr-blurry" />`
                const myGithubInfo = sortedData.find(e => e['login'] == "gunyu1019")
                document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${myGithubInfo['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${myGithubInfo['login']}">${myGithubInfo['username']}</a>
                    <span class="github_commits">${myGithubInfo['commits']}</span>
                `
            } else {
                document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Something Wrong</span>
                    </div>`
            }
        })
    }).catch(function (err) {
        // console.warn('Something went wrong.', err);
        document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Failed</span>
                    </div>`
    });
</script>
</body>
</html>