<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>건유1019</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal CSS -->
    <link href="/static/css/yong_hyun.css" type="text/css" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <script src="https://kit.fontawesome.com/afc467762e.js" crossorigin="anonymous"></script>

    <!-- Personal Javascript -->
    <script src="/static/javascript/autoscroll.js"></script>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<section id="main" class="main_section">
    <div class="main_group">
            <span class="main_title">
                오늘도 <span class="main_title_emphasis">즐코</span>하세요!
            </span>

        <div class="commit_rank_group">
            <span class="commit_rank_description">저는 멤버분들이 열심히 즐코시는지 구경하고 있습니다.</span>
            <!-- Rank Sample (🥇🥈🥉) -->
            <div class="commit_rank_content">
                <div class="commit_rank_text">
                    <div id="spinnerIndicator"></div>
                    <span>Loading</span>
                </div> <!--
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129351;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129352;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129353;)</span>
                    </div>
                    <hr class="hr hr-blurry" />
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</section>
<section id="introduce" class="introduce_section">
    <div class="container introduce_group">
        <div>
            <h2>👋 짜란?<br/> 저는 컴퓨터공학과 23학번 이용현이라고 합니다!</h2><br/>
            <span>저는 프로그래밍을 <u>하나의 여행</u>이라고 생각합니다.</span><br/>
            <span>많은 지역을 탐험하며, 많은 경험을 쌓아나가는 것 처럼 저는 <u>다양한 종류의 프로그래밍</u>을 진행해보고 싶습니다.</span><br/><br/>

            <span>아직 구체적인 개발 분야를 정하진 않았지만, 다양한 분야의 프로그래밍을 진행해보고 싶습니다.</span>
            <span>저는 취미로 프로그래밍을 하고 있으며, 창업을 해보고 싶다는 생각을 가지고 있습니다.</span>
            <span>다른 팀원들보다 프로그래밍 실력이 부족할 수 있지만, 최선을 다해 프로젝트에 임하도록 하곘습니다!</span>
        </div>
        <div>
            <img src="https://avatars.githubusercontent.com/u/16767890?v=4"/>
        </div>
    </div>
</section>
<section id="programing" class="programing_section">
    <div class="programing_group">
        <h2>프로그래밍의 폭풍은 정말 최고야!~</h2>
        <span>코딩의 폭풍은 정말 최고야! 지금도 다양한 프로그래밍을 경험해보고 싶어요.</span>
        <div class="image_group">
            <a href="https://python.org">
                <img src="/static/img/yong_hyun/icon/python.png" class="background"/>
            </a>
            <a href="https://docs.aiohttp.org/">
                <img src="/static/img/yong_hyun/icon/aiohttp.svg" class="background"/>
            </a>
            <a href="https://discordpy.readthedocs.io/en/stable/">
                <img src="/static/img/yong_hyun/icon/discordpy.png"/>
            </a>
            <a href="https://flask.palletsprojects.com/en/2.2.x/">
                <img src="/static/img/yong_hyun/icon/flask.png" class="background"/>
            </a>
            <a href="https://matplotlib.org/">
                <img src="/static/img/yong_hyun/icon/matplotlib.png" class="background"/>
            </a>
            <a href="https://pandas.pydata.org/">
                <img src="/static/img/yong_hyun/icon/pandas.svg" style="background: #130754; padding: 10px"/>
            </a>
            <a href="https://pillow.readthedocs.io/en/stable/">
                <img src="/static/img/yong_hyun/icon/pillow.png" class="background"/>
            </a>
            <a href="https://www.sqlalchemy.org/">
                <img src="/static/img/yong_hyun/icon/sqlalchemy.png" class="background"/>
            </a>
            <a href="https://kotlinlang.org/">
                <img src="/static/img/yong_hyun/icon/kotlin.png"/>
            </a>
            <a href="https://developer.android.com/jetpack/compose">
                <img src="/static/img/yong_hyun/icon/jetpack-compose.png" class="background"/>
            </a>
            <a href="https://papermc.io/">
                <img src="/static/img/yong_hyun/icon/paper.webp" class="background"/>
            </a>
            <a class="https://www.typescriptlang.org/">
                <img src="/static/img/yong_hyun/icon/typescript.svg"/>
            </a>
            <a href="https://premid.app/">
                <img src="/static/img/yong_hyun/icon/premid.jpeg"/>
            </a>
            <a href="https://mariadb.org/">
                <img src="/static/img/yong_hyun/icon/mariadb.png" class="background"/>
            </a>
            <a href="https://python.org">
                <img src="/static/img/yong_hyun/icon/python.png" class="background"/>
            </a>
            <a href="https://docs.aiohttp.org/">
                <img src="/static/img/yong_hyun/icon/aiohttp.svg" class="background"/>
            </a>
            <a href="https://discordpy.readthedocs.io/en/stable/">
                <img src="/static/img/yong_hyun/icon/discordpy.png"/>
            </a>
            <a href="https://flask.palletsprojects.com/en/2.2.x/">
                <img src="/static/img/yong_hyun/icon/flask.png" class="background"/>
            </a>
            <a href="https://matplotlib.org/">
                <img src="/static/img/yong_hyun/icon/matplotlib.png" class="background"/>
            </a>
            <a href="https://pandas.pydata.org/">
                <img src="/static/img/yong_hyun/icon/pandas.svg" style="background: #130754; padding: 10px"/>
            </a>
            <a href="https://pillow.readthedocs.io/en/stable/">
                <img src="/static/img/yong_hyun/icon/pillow.png" class="background"/>
            </a>
            <a href="https://www.sqlalchemy.org/">
                <img src="/static/img/yong_hyun/icon/sqlalchemy.png" class="background"/>
            </a>
            <a href="https://kotlinlang.org/">
                <img src="/static/img/yong_hyun/icon/kotlin.png"/>
            </a>
            <a href="https://developer.android.com/jetpack/compose">
                <img src="/static/img/yong_hyun/icon/jetpack-compose.png" class="background"/>
            </a>
            <a href="https://papermc.io/">
                <img src="/static/img/yong_hyun/icon/paper.webp" class="background"/>
            </a>
            <a class="https://www.typescriptlang.org/">
                <img src="/static/img/yong_hyun/icon/typescript.svg"/>
            </a>
            <a href="https://premid.app/">
                <img src="/static/img/yong_hyun/icon/premid.jpeg"/>
            </a>
            <a href="https://mariadb.org/">
                <img src="/static/img/yong_hyun/icon/mariadb.png" class="background"/>
            </a>
        </div>
        <div class="container group_field">
            <div class="item_field">
                <h3><i class="fab fa-android"></i> 안드로이드 애플리케이션</h3>
                <span>2022년부터 안드로이드 프로젝트를 진행하고 있습니다.</span>
                <span>주로 Kotlin과 Jetpack Compose를 애플리케이션을 제작합니다.</span>
                <span>2021년에 개발한 QRpass을 시작으로 MyBUS에 이르기까지 계속 개발하고 공부하고 있습니다.</span>

                <h5>대표작품</h5>
                <ul>
                    <li>
                        <a href="https://github.com/gunyu1019/QRpass">
                            <img src="https://lh3.googleusercontent.com/DXs6fNCc2n500wE25-09LGr6kZZpbEvLkBIP_jQhT175T2ftLba6qri8VKiurgw0IEk"/>QRpass
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gunyu1019/trafficApplication">
                            <img src="https://lh3.googleusercontent.com/zyEd74VJGU4Ubd9fkuSZTgTQKOE91bZRADgba2wY62FjCKFtaVdPtEr88j1jmJlpqQ"/>MyBUS
                        </a>
                    </li>
                    <li>MyMetro (개발 예정)</li>
                    <li>강원대학교 도서관 위젯 애플리케이션 (개발 중)</li>
                </ul>
            </div>
            <div class="item_field">
                <h3><i class="fab fa-discord"></i> 디스코드 봇</h3>
                <span>디스코드 봇은 2020년부터 개발하기 시작하였습니다.</span>
                <span>처음에는 Python 3.8과 discord.py를 활용하여 개발을 진행했으며,
                    지금은 Python 3.11과 discord.py 그리고 직접 제작한 프레임워크를 사용하여 개발합니다.</span>
                <span>지금은 PUBG BOT과 다양한 봇들을 운영하고 있으며, 이 중 PUBG BOT은 배틀그라운드 공식 커뮤니티에서 채택되어 사용되고 있습니다.</span>
                <span>디스코드 봇은 2020년부터 개발을 시작하였지만, 이전에도 2017년부터 2019년까지 카카오톡 챗봇을 개발해본 경험이 있습니다</span>

                <h5>대표작품</h5>
                <ul>
                    <li>
                        <a href="https://yhs.kr/YBOT/">
                            <img src="https://yhs.kr/YBOT/static/img/YBOT.png"/>YBOT
                        </a>
                    </li>
                    <li>
                        <a href="https://pubg.yhs.kr/">
                            <img src="https://pubg.yhs.kr/static/image/logo.png"/>PUBG BOT
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gunyu1019/CraftBot">
                            Craft Bot
                        </a>
                    </li>
                    <li>강원대학교 재학생인증 봇</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="activities" class="activities_section">
    <div class="container activities_group">
        <h2>저는 코딩만 하지 않아요~</h2>
        <span>저는 코딩 이외에도 다양한 활동을 좋아합니다.</span>
        <span>코딩을 즐겨하고 좋아하지만, 아래의 3개 활동을 포함해서 다양한 활동을 하는 것을 좋아합니다.</span>
        <div class="modal fade" id="favoriteGameModal" tabindex="-1" aria-labelledby="favoriteGameModalLabel" aria-hidden="true" data-bs-theme="dark">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="favoriteGameModalLabel">좋아하는 게임 목록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li><b>51 Worldwide Games</b></li>
                            <li><b>A Dance of Fire and Ice</b></li>
                            <li><b>Cities: Skylines</b></li>
                            <li>Euro Truck Simulator 2</li>
                            <li>Factorio</li>
                            <li>Fall Guys</li>
                            <li>Forza Horizon 5</li>
                            <li>Grand Theft Auto V</li>
                            <li><b>Marvel's Spider-Man: Miles Morales</b></li>
                            <li><b>Marvel's Spider-Man Remastered</b></li>
                            <li>Mini Motorways</li>
                            <li>Minecraft</li>
                            <li>Oxygen Not Included</li>
                            <li>PUBG: BATTLEGROUNDS</li>
                            <li>Satisfactory</li>
                            <li>Splatoon 3</li>
                            <li><b>Tom Clancy's Rainbow Six Siege</b></li>
                            <li><b>Valorant</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="activity_card_group">
            <div class="activity_card">
                <i class="fa fa-refresh activity_image_refresh" aria-hidden="true" onclick="travelImageUpdate()"></i>
                <img src="/static/img/yong_hyun/travel/Plane.jpg" id="activity_image_1"/>
                <div class="activity_card_body">
                    <h2>집 밖이 최고야!</h2>
                    <span>
                        저는 시간과 몸, 돈만 된다면 밖에서 활동하는 것을 상당히 좋아합니다.
                        국내외 다양한 여행지를 돌아다니며 많은 것들을 경험해보고, 보고 싶습니다.
                    </span>
                    <span>혼자서 여행, 가족끼리 여행, 친구끼리 여행가는 것 모두 다 좋아합니다.</span>
                    <span>
                        저는 앞으로 있을 인생에서 라스베이거스의 CES도 참여해보고 싶고,
                        혼자서 일본 여행도 가보고 싶다는 로망과 함께 열심히 살고자 합니다.
                    </span>
                </div>
            </div>
            <div class="activity_card">
                <div class="activity_card_body">
                    <h2>
                        <div id="activity_emoji_icon" class="activity_emoji_icon"></div>
                        맛이 없으면,<br/>세상이 없다.
                    </h2>
                    <span>
                        저는 맛으로 세상을 사는 것 같습니다.
                        여행으로 많은 경험을 한다면, 맛은 하나의 스트레스를 풀어주는 방법이라고 생각합니다.
                    </span>
                    <span>저는 세계에 있는 다양한 음식을 먹어보며 많은 맛들을 경험해보고 싶습니다.</span>
                    <span>
                        제가 가장 좋아하는 음식은 이탈리아의 젤라또(Gelato)를 상당히 좋아합니다.
                        이외에도 삼겹살, 집밥? 등을 인스턴트보다 영양분이 풍부한 음식을 좋아합니다.
                        하지만, 라면과 햄버거 등 패스트푸드는 그리 좋아하지 않습니다.
                    </span>
                    <span>기회가 된다면 아래의 음식들을 먹어보고 싶습니다.</span>
                    <ul>
                        <li>미국 디트로이드 피자</li>
                        <li>미국 텍사스 바베큐</li>
                        <li>일본 미즈사와 우동</li>
                        <li>터키 카이막</li>
                        <li>영국 카레</li>
                    </ul>
                </div>
            </div>
            <div class="activity_card">
                <i class="fa fa-refresh activity_image_refresh" aria-hidden="true" onclick="gameImageUpdate()"></i>
                <img src="/static/img/yong_hyun/game/Spider_Man.jpg" id="activity_image_2"/>
                <div class="activity_card_body">
                    <h2>게임 == 쿨러</h2>
                    <span>
                        가끔은 스트레스를 많이 받는다면, 게임을 통해 스트레스를 해소하기도 합니다.
                        친구들과 함께할 수 있는 게임 아니면 혼자서 즐길 수 있는 게임 둘 다 좋아합니다.
                    </span>
                    <span>
                        대학교 입학하고 나서, 게임을 하는 빈도 수가 많이 줄어들 긴 했지만, 그래도 게임을 좋아합니다.
                    </span>
                    <span>저는 시뮬레이션, FPS 등 다양한 종류의 게임을 즐겨하는 편입니다.</span>
                    <button type="button" class="activity_button" data-bs-toggle="modal" data-bs-target="#favoriteGameModal">
                        저는 이런 게임을 자주하고 좋아합니다!
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript">
    $("span.main_title_emphasis, div.firework").hover(function () {
        $("div.firework").show();
    }, function () {
        $("div.firework").hide();
    })

    function randomChoice(data) {
        return data[Math.floor(Math.random() * data.length)];
    }

    function travelImageUpdate() {
        document.querySelector("img#activity_image_1").src = `/static/img/yong_hyun/travel/${randomChoice(travelImageFileNameList)}`
    }

    function gameImageUpdate() {
        document.querySelector("img#activity_image_2").src = `/static/img/yong_hyun/game/${randomChoice(gameImageFileNameList)}`
    }

    const gameImageFileNameList = [
        "51_Worldwide_Games.png",
        "A_Dance_Fire_And_Ice_1.png",
        "A_Dance_Fire_And_Ice_2.png",
        "A_Dance_Fire_And_Ice_3.jpg",
        "Cities_Skylines.png",
        "Euro_Truck_Simulator.jpg",
        "Factorio_1.png",
        "Factorio_2.png",
        "Fall_Guys.png",
        "Grand_Theif_Auto_1.png",
        "Grand_Theif_Auto_2.png",
        "Oxygen_Not_Included.jpg",
        "PUBG.png",
        "R6.png",
        "Satisfactory.jpg",
        "Satisfactory_2.jpg",
        "Spider_Man.jpg",
        "Spider_Man_DLC.jpg",
        "Spider_Man_Miles_Morales.jpg",
        "Spider_Man_Pizza.jpg",
        "Valorant_1.png",
        "Valorant_2.png",
        "Valorant_3.png"
    ];
    const travelImageFileNameList = [
        "Cheongsong_sunset.jpg",
        "Gangnam_Coex.jpg",
        "Italy_Napoli_2.jpg",
        "Italy_Spain_Stair.jpg",
        "Italy_Venezia.jpg",
        "Italy_Vittorio_Emanuele_II.jpg",
        "Jecheon_Forest_Resom.jpg",
        "Jeju_Seongsanbong.jpg",
        "Jeongseon_High1.jpg",
        "Jeongseon_Najon.jpg",
        "Paris_1.jpg",
        "Paris_2.jpg",
        "Plane.jpg",
        "Singapore.jpg",
        "Sockcho.jpg",
        "Yangpyeong.jpg",
        "Yangyang_Naksansa_1.jpg",
        "Yangyang_Naksansa_2.jpg",
        "Yangyang_Seorak_Mountain_2.jpg",
    ];

    window.addEventListener("DOMContentLoaded", function () {
        const emojiList = ["&#127857;", "&#127834;", "&#127837;", "&#127844;", "&#129374;", "&#127846;"]
        document.querySelector("div#activity_emoji_icon").innerHTML = randomChoice(emojiList)
        travelImageUpdate();
        gameImageUpdate();

        fetch('/mirae/api/commit_rank').then(function (response) {
            // console.log('success!', response);
            response.json().then(function (data) {
                if (data.length > 0) {
                    const sortedData = data.sort((a, b) => {
                        if (a['commits'] > b['commits']) {
                            return -1;
                        }
                    });
                    document.querySelector('div.commit_rank_content').innerHTML = ""
                    sortedData.slice(0, 3).forEach((githubUser, index) => {
                        document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${githubUser['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${githubUser['login']}">${githubUser['username']}</a>
                    <span class="github_commits">${githubUser['commits']}</span>
                    <span class="github_rank">(&#12935${index + 1};)</span>
                </div>`
                    });
                    document.querySelector('div.commit_rank_content').innerHTML += `<hr class="hr hr-blurry" />`
                    const myGithubInfo = sortedData.find(e => e['login'] == "gunyu1019")
                    document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${myGithubInfo['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${myGithubInfo['login']}">${myGithubInfo['username']}</a>
                    <span class="github_commits">${myGithubInfo['commits']}</span>
                `
                } else {
                    document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Something Wrong</span>
                    </div>`
                }
            })
        }).catch(function (_) {
            // console.warn('Something went wrong.', err);
            document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Failed</span>
                    </div>`
        });
    })
</script>
</body>
</html>