<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>건유1019</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal CSS -->
    <link href="/static/css/yong_hyun.css" type="text/css" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <!-- Personal Javascript -->
    <script src="/static/javascript/autoscroll.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <section id="main" class="main_section">
        <div class="main_group">
            <span class="main_title">
                오늘도 <span class="main_title_emphasis">즐코</span>하세요!
            </span>

            <div class="commit_rank_group">
                <span class="commit_rank_description">저는 멤버분들이 열심히 즐코시는지 구경하고 있습니다.</span>
                <!-- Rank Sample (🥇🥈🥉) -->
                <div class="commit_rank_content">
                    <div class="commit_rank_text">
                        <div id="spinnerIndicator"></div>
                        <span>Loading</span>
                    </div> <!--
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129351;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129352;)</span>
                    </div>
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                        <span class="github_rank">(&#129353;)</span>
                    </div>
                    <hr class="hr hr-blurry" />
                    <div class="github_content_group">
                        <img src="https://avatars.githubusercontent.com/u/16767890?v=4" />
                        <a class="github_name me-auto">건유1019</a>
                        <span class="github_commits">60회</span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="firework"></div>
        <div class="firework"></div>
        <div class="firework"></div>
    </section>
    <div class="container">
        <section id="introduce">
            저는 컴퓨터공학과 23학번 이용현이라고 합니다!

            저는 프로그래밍을 하나의 여행이라고 생각합니다.
            많은 지역을 탐험하며, 많은 경험을 쌓아나가는 것 처럼 저는 다양한 종류의 프로그래밍을 진행해보고 싶습니다.

            아직 구체적인 개발 분야를 정하진 않았지만, 다양한 분야의 프로그래밍을 진행해보고 싶습니다.
            저는 취미로 프로그래밍을 하고 있으며, 창업을 해보고 싶다는 생각을 가지고 있습니다.
            다른 팀원들보다 프로그래밍 실력이 부족할 수 있지만, 최선을 다해 프로젝트에 임하도록 하곘습니다!
        </section>
        <section id="programing">
            <!-- 저는 주로 파이썬과 코틀린을 주로 사용하여 프로그래밍을 진행하고 있습니다.
                이외에도 C언어, SQL, TypeScript, JavaScript 등 언어를 다루며, 필요할 때마다 찾아가며 배워나가고 있습니다. -->
        </section>
        <section id="activities">

        </section>
        <section id="project">

        </section>
    </div>
    <script type="application/javascript">
        $( "span.main_title_emphasis" ).hover(function () {
            $("div.firework").show();
        }, function () {
            $("div.firework").hide();
        })
        fetch('/mirae/api/commit_rank').then(function (response) {
            // console.log('success!', response);
            response.json().then(function (data) {
                if (data.length > 0) {
                    const sortedData = data.sort((a, b) => {
                        if (a['commits'] > b['commits']) {
                            return -1;
                        }
                    });
                    document.querySelector('div.commit_rank_content').innerHTML = ""
                    sortedData.slice(0, 3).forEach((githubUser, index) => {
                        document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${githubUser['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${githubUser['login']}">${githubUser['username']}</a>
                    <span class="github_commits">${githubUser['commits']}</span>
                    <span class="github_rank">(&#12935${index+1};)</span>
                </div>`
                    });
                    document.querySelector('div.commit_rank_content').innerHTML += `<hr class="hr hr-blurry" />`
                    const myGithubInfo = sortedData.find(e => e['login'] == "gunyu1019")
                    document.querySelector('div.commit_rank_content').innerHTML += `
                            <div class="github_content_group">
                            <img src="${myGithubInfo['avatar']}" />
                            <a class="github_name me-auto" href="https://github.com/${myGithubInfo['login']}">${myGithubInfo['username']}</a>
                    <span class="github_commits">${myGithubInfo['commits']}</span>
                `
                } else {
                    document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Something Wrong</span>
                    </div>`
                }
            })
        }).catch(function (err) {
            // console.warn('Something went wrong.', err);
            document.querySelector('div.commit_rank_content').innerHTML = `
                    <div class="commit_rank_text">
                        <span>&#009888; Failed</span>
                    </div>`
        });
    </script>
</body>
</html>